<h1 class="card">Seleccionar cliente</h1>
<table class="card">

  <tr>
    <th>Codigo</th>
    <th>DNI</th>
    <th>Nombre</th>
    <th>Direccion</th>
  </tr>

  <tr *ngFor="let cli of clientes | async">
    <td> <a class="client-link" (click)="selectClient(cli.codigo)">{{cli.codigo}}</a> </td>
    <td> {{cli.dni}} </td>
    <td> {{cli.nombre}} </td>
    <td> {{cli.direccion}} </td>
  </tr>

</table>

<h1 class="card">Factura</h1>

<form class="card">

  <table>
    <tr>
      <td>Nro. Factura</td>
      <td><input type="text" name="txtNroFact" [(ngModel)]="factura.numero"></td>
    </tr>

    <tr>
      <td>Total</td>
      <td><input type="number" name="txtTotal" [(ngModel)]="factura.total"></td>
    </tr>
  </table>
</form>

<h1 class="card">Productos</h1>

<form class="card">

  <table>
    <tr>
      <td>Nombre</td>
      <td><input type="text" name="txtPro" [(ngModel)]="detallesFactura.nombre"></td>
    </tr>

    <tr>
      <td>Cantidad</td>
      <td><input type="number" name="txtCantidad" [(ngModel)]="detallesFactura.cantidad"></td>
    </tr>

    <tr>
      <td>Precio</td>
      <td><input type="number" name="txtPrecio" [(ngModel)]="detallesFactura.precio"></td>
    </tr>
  </table>

  <button class="add-detail-btn" (click)="agregarDetalle()">Agregar producto</button>
</form>

<button class="save-btn" (click)="guardar()">Guardar</button>